<h1>
  <%= @widget.name %>
</h1>
<h2>ID #<%= @widget.id %></h2>

<% if flash[:notice].present? %>
  <aside>
    <%= flash[:notice] %>
  </aside>
<% end %>

<section>
  <h3>Rate This Widget</h3>
  <ol>
    <li>
      <% (1..5).each do |rating| %>
        <%= button_to rating,
        widget_ratings_path,
        params: { widget_id: @widget.id, rating: rating }%>
      <% end %>
    </li>
  </ol>
</section>
